<div class="projects">
  <h3 class="projects__title">Projects (3)</h3>
  <div class="projects__tags">
    <button class="projects__tag">React</button>
    <button class="projects__tag">Vue</button>
    <button class="projects__tag tag--active">Responsive</button>
  </div>
</div>

<style scoped>
  .projects {
    box-sizing: border-box;
    min-width: 800px;
    padding: 22px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4f4f4f;
    background-color: #ffffff;
    border-radius: 12px;
  }

  .projects__title {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  .projects__tag {
    padding: 8px 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: #ffffff;
    border: 1px solid #4f4f4f;
    border-radius: 12px;
    cursor: pointer;
  }

  .projects__tag:hover {
    color: #2f80ed;
    background-color: #ffffff;
    border-color: #2f80ed;
  }

  .tag--active {
    color: #ffffff;
    background: #2f80ed;
    border-color: #2f80ed;
  }

  .projects__tag:not(:last-child) {
    margin-right: 12px;
  }


</style>
