
    <div class="projects">
      <h3 class="projects__title">Projects (3)</h3>
      <div class="projects__tags">
        <button class="projects__tag">React</button>
        <button class="projects__tag">Vue</button>
        <button class="projects__tag tag--active">Responsive</button>
      </div>
    </div>

    <style scoped>
      .projects {
        box-sizing: border-box;
        width: 100%;
        padding: 22px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        color: #4f4f4f;
        background-color: #ffffff;
        border-radius: 12px;
      }

      .projects__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
      }

      .projects__tags {
        display: none;
      }

    </style>
