:root {
  --width-mobile: 375px;
  --width-desktop: 1356px;

  --color-bg: #ffffff;
  --color-bf-footer: #100e1d;
  --color-title: #333333;
  --color-text: #4f4f4f;
  --color-label: #828282;
  --color-input: #f2f2f2;
  --color-btn: #e0e0e0;
  --color-blue: #2d9cdb;
  --color-green: #27ae60;
  --color-red: #eb5757;

  --font-logo: 'Heebo', sans-serif;
  --font-footer: 'Montserrat', sans-serif;
  --font-main: 'Poppins', sans-serif;


}

*, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
	background-color: var(--color-bg);
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	border: 0;
	margin: -1px;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.container {
  box-sizing: border-box;
  width: var(--width-mobile);
  margin: 0 auto;
  padding: 12px 12px 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.header__logo {
  font-family: var(--font-logo);
  font-weight: 800;
}

.header__nav {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 7px;
  left: -12px;
  width: 18px;
  height: 12px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-title);
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: '';
  top: -5px;
}

.menu__btn > span::after {
  content: '';
  top: 5px;
}

#menu__toggle:checked ~ .menu__btn > span {
  background-color: var(--color-bg);
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  background-color: var(--color-bg);
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  background-color: var(--color-bg);
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .nav {
  visibility: visible;
  right: -12px;
}

.header__nav .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  top: -12px;
  right: -100%;
  width: 200px;
  height: 400px;
  margin: 0;
  list-style: none;
  background-color: var(--color-bf-footer);
}

.header__nav .nav__item {
  padding: 15px;
}

.header__nav .nav__link {
  color: var(--color-bg);
  text-decoration: none;
}

.header__nav .nav__link:active,
.header__nav .nav__link:hover {
  color: var(--color-blue);
}

.about {
  margin-bottom: 22px;
}

.about__question {
  padding-left: 28px;
  padding-right: 46px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--color-blue);
}

.about__title {
  margin-bottom: 15px;
  padding-left: 28px;
  padding-right: 46px;
}

.about__img {
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.motivation {
  margin-bottom: 102px;
  padding-left: 28px;
  padding-right: 46px;
}

.motivation__title {
  margin-bottom: 20px;
  padding-right: 48px;
}

.motivation__desc {
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.subscribe {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.subscribe__label {
  font-size: 10px;
  line-height: 15px;
}

.subscribe__input {
  display: flex;
  justify-content: space-between;
  padding: 15px 19px;
  background-color: var(--color-input);
  border-radius: 12px;
}

.subscribe__email {
  background-color: var(--color-input);
  border: none;
  outline: none;
}



.subscribe__btn {
  padding: 11px 21px;
  color: var(--color-input);
  background-color: var(--color-blue);
  border: none;
  border-radius: 12px;
}

.services {
  margin-bottom: 100px;
}

.services__title {
  margin-bottom: 40px;
  padding-left: 37px;
  padding-right: 55px;
}

.service {
  padding: 151px 34px 50px;
}

.service:not(:last-child){
  margin-bottom: 20px;
}

.service:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.service__title {
  position: relative;
  margin-bottom: 24px;
  font-weight: 700;
}

.service__title::before {
  content: '';
  position: absolute;
  top: -105px;
  left: 0;
  width: 67px;
  height: 67px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

.uidesign::before {
  background-image: url('svg/edit.svg');
  background-color: var(--color-blue);
}
.frontend::before {
  background-image: url('svg/code.svg');
  background-color: var(--color-green);
}
.backend::before {
  background-image: url('svg/storage.svg');
  background-color: var(--color-red);
}

.service__info {
  margin-bottom: 30px;
  font-weight: 400;
}

.service__btn {
  padding: 9px 12px;
  font-weight: 500;
  color: var(--color-bg);
  text-decoration: none;
  background-color: var(--color-btn);
  border-radius: 12px;
}

.service:hover > .service__btn {
  background-color: var(--color-blue);
}

