:root {
  --width-mobile: 375px;
  --width-desktop: 1356px;

  --color-bg: #ffffff;
  --color-bf-footer: #100e1d;
  --color-title: #333333;
  --color-text: #4f4f4f;
  --color-label: #828282;
  --color-input: #f2f2f2;
  --color-btn: #e0e0e0;
  --color-blue: #2d9cdb;
  --color-green: #27ae60;
  --color-red: #eb5757;

  --font-logo: 'Heebo', sans-serif;
  --font-footer: 'Montserrat', sans-serif;
  --font-main: 'Poppins', sans-serif;


}

*, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
	background-color: var(--color-bg);
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
  color: var(--color-title);
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	border: 0;
	margin: -1px;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.logo {
  font-family: var(--font-logo);
  font-weight: 800;
}

.logo__link {
  text-decoration: none;
  color: var(--color-title);
}

.logo__link:hover {
  color: var(--color-blue);
}

.container {
  box-sizing: border-box;
  width: var(--width-mobile);
  margin: 0 auto;

}

.wrapper {
  padding: 12px 12px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.header__nav {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 7px;
  left: -12px;
  width: 18px;
  height: 12px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-title);
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: '';
  top: -5px;
}

.menu__btn > span::after {
  content: '';
  top: 5px;
}

#menu__toggle:checked ~ .menu__btn > span {
  background-color: var(--color-bg);
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  background-color: var(--color-bg);
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  background-color: var(--color-bg);
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .nav {
  visibility: visible;
  right: -12px;
}

.header__nav .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  top: -12px;
  right: -100%;
  width: 200px;
  height: 400px;
  margin: 0;
  list-style: none;
  background-color: var(--color-bf-footer);
}

.header__nav .nav__item {
  margin-bottom: 15px;
}

.header__nav .nav__link {
  padding: 15px;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-bg);
  text-decoration: none;
}

.header__nav .nav__link:active,
.header__nav .nav__link:hover,
.footer__nav .nav__link:active,
.footer__nav .nav__link:hover{
  color: var(--color-blue);
}

.about {
  margin-bottom: 22px;
}

.about__question {
  padding-left: 28px;
  padding-right: 46px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--color-blue);
}

.about__title {
  margin-bottom: 15px;
  padding-left: 28px;
  padding-right: 46px;
}

.about__img {
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.motivation {
  margin-bottom: 102px;
  padding-left: 28px;
  padding-right: 46px;
}

.motivation__title {
  margin-bottom: 20px;
  padding-right: 48px;
}

.motivation__desc {
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-text);
}

.subscribe--footer {
  margin-bottom: 150px;
}

.subscribe__label {
  font-size: 10px;
  line-height: 15px;
  color: var(--color-label);
}

.subscribe--footer .subscribe__label {
  color: var(--color-label);
}

.subscribe__email, .subscribe__btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.subscribe__input {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  background-color: var(--color-input);
  border-radius: 12px;
}

.subscribe__email {
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
  background-color: var(--color-input);
  border: none;
  outline: none;
}

.subscribe__btn {
  padding: 9px 21px;
  color: var(--color-input);
  background-color: var(--color-blue);
  border: none;
  border-radius: 12px;
}

.services {
  margin-bottom: 100px;
}

.services__title {
  margin-bottom: 40px;
  padding-left: 37px;
  padding-right: 55px;
}

.service {
  padding: 151px 34px 50px;
}

.service:not(:last-child){
  margin-bottom: 20px;
}

.service:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.service__title {
  position: relative;
  margin-bottom: 24px;
  font-weight: 700;
}

.service__title::before {
  content: '';
  position: absolute;
  top: -105px;
  left: 0;
  width: 67px;
  height: 67px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

.uidesign::before {
  background-image: url('svg/edit.svg');
  background-color: var(--color-blue);
}
.frontend::before {
  background-image: url('svg/code.svg');
  background-color: var(--color-green);
}
.backend::before {
  background-image: url('svg/storage.svg');
  background-color: var(--color-red);
}

.service__info {
  margin-bottom: 30px;
  font-weight: 400;
}

.service__btn {
  padding: 9px 12px;
  font-weight: 500;
  color: var(--color-bg);
  text-decoration: none;
  background-color: var(--color-btn);
  border-radius: 12px;
}

.service:hover > .service__btn {
  background-color: var(--color-blue);
}

.works {
  margin-bottom: 100px;
}

.works__title {
  margin-bottom: 48px;
  padding-left: 33px;
  padding-right: 51px;
}

.work__item {
  margin-bottom: 36px;
}

.work__figure {
  margin: 0;
  padding: 0;
}

.work__img {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 12px;
  vertical-align: top;
}

.work__desc {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: var(--color-label);
}

.work__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.works__more {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.works__link {
  color: var(--color-blue);
  text-decoration: none;
}

.team {
  margin-bottom: 100px;
}

.team__about {
  margin-bottom: 36px;
}

.team__title {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--color-red);
}

.team__h {
  margin-bottom: 14px;
  padding-right: 73px;
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
}

.team__text {
  padding-right: 80px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text);
}

.team__photos {
  display: grid;
  align-items: center;
  grid-gap: 9px;
}

.team__photo--1 {
  grid-row: 1;
  grid-column: 2;
}

.team__photo--2 {
  grid-row: 2;
  grid-column: 2;
}

.team__photo--3 {
  grid-row: 1 / 3;
  grid-column: 1;
}

.team__img {
  display: block;
  vertical-align: top;
  border-radius: 24px;
}

.team__img--1 {
  width: 144px;
}

.team__img--2 {
  width: 162px;
}

.team__img--3 {
  width: 178px;
}

.reviews {
  margin-bottom: 100px;
}

.review {
  margin-bottom: 30px;
}

.reviewer {
  display: flex;
}

.author {
  display: flex;
  flex-direction: column;
}

.author__name {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.author__company {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--color-label);
}

.reviewer__photo {
  order: -1;
  margin-right: 29px;
}

.reviewer__img {
  width: 82px;
  border-radius: 12px;
}

.footer {
  background-color: var(--color-bf-footer);
}

.footer .container {
  padding: 36px 41px 24px;
}

.footer__nav {
  margin-bottom: 64px;
}

.footer__nav .nav {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  list-style: none;
}

.footer__nav .nav__link {
  color: var(--color-bg);
  text-decoration: none;
}

.footer__logo {
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 53px;
}

.footer__logo .logo__link {
  color: var(--color-input);
}

.footer__logo .logo__link:hover {
  color: var(--color-blue);
}

.social {
  margin-bottom: 64px;
}

.social__list {
  display: flex;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 11px;
}

.social__link > svg {
  fill: var(--color-bg);
}

.social__link:hover > svg {
  fill: var(--color-blue);
}

.footer__sign {
  text-align: center;
  font-family: var(--font-footer);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: var(--color-input);
}

.footer__sign span {
  font-weight: 700;
}

@media only screen and (min-width: 1356px) {

  .title {
    font-size: 36px;
    line-height: 54px;
  }

  .container {
    width: var(--width-desktop);
  }

  .wrapper {
    padding-top: 42px;
  }

  .header {
    margin-bottom: 96px;
  }

  .header__logo {
    font-size: 36px;
    line-height: 53px;
  }

  #menu__toggle,
  .menu__btn {
    display: none;
  }

  .header__nav .nav{
    position: relative;
    flex-direction: row;
    visibility: visible;
    top: 0;
    right: 0;
    height: auto;
    width: auto;
    background-color: var(--color-bg);
  }

  .header__nav .nav__item {
    margin-bottom: 0;
    line-height: 53px;
  }

  .header__nav .nav__link {
    padding: 15px 25px;
    color: var(--color-title);
  }

  .about {
    margin-bottom: 42px;
  }

  .about__question,
  .about__title {
    padding-left: 197px;
    padding-right: 629px;
  }


  .about__question {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 27px;
  }

  .about__title {
    margin-bottom: 46px;
  }

  .about__title, .motivation__title {
    font-size: 48px;
    line-height: 72px;
  }

  .motivation {
    width: var(--width-mobile);
    padding-left: 197px;
  }

  .motivation__title {
    margin-bottom: 42px;
  }

  .motivation__desc {
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 27px;
  }

  .subscribe__label {
    display: block;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 21px;
  }

  .subscribe__email, .subscribe__btn {
    font-size: 18px;
    line-height: 27px;
  }

  .subscribe__btn {
    padding: 11px 27px;
  }

  .services {
    margin-bottom: 194px;
    padding: 0 111px;
  }

  .services__title {
    width: 346px;
    padding: 0;
  }

  .services__items {
    display: flex;
    justify-content: space-between;
  }

  .service:not(:last-child) {
    margin-bottom: 0;
    margin-right: 27px;
  }

  .works {
    position: relative;
    margin-bottom: 220px;
    padding: 0 111px;
  }

  .works__title {
    margin-bottom: 12px;
    padding: 0;
    width: 412px;
  }

  .works__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .work__item {
    width: 545px;
  }

  .work__item{
    margin-bottom: 0;
    margin-top: 155px;
  }
  .work__item:nth-child(2n){
    margin-top: 0;
  }

  .work__img {
    margin-bottom: 20px;
  }

  .work__desc {
    font-size: 14px;
    line-height: 21px;
  }

  .work__name,
  .works__more {
    font-size: 24px;
    line-height: 36px;
  }

  .works__more {
    position: absolute;
    bottom: 0;
    right: 120px;
  }

  .team {
    display: flex;
    justify-content: space-between;
    margin-bottom: 196px;
    padding: 0 111px;
  }

  .team__about {
    align-self: center;
    width: 310px;
  }

  .team__photos {
    grid-gap: 24px;
  }

  .team__img--1 {
    width: 260px;
  }

  .team__img--2 {
    width: 292px;
  }

  .team__img--3 {
    width: 320px;
  }

  .reviews {
    margin-bottom: 200px;
    padding: 0 377px 0 111px;
  }

  .review {
    margin-bottom: 49px;
  }

  .footer .container {
    padding: 46px 111px 24px;
  }

  .footer__main {
    display: flex;
    justify-content: space-between;
  }
}
