<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
<!--  <link rel="stylesheet" href="project1.css">-->
  <link rel="stylesheet" href="project2.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="project">
      <div class="project__about">
        <p class="project__tags">
          #HTML #CSS #responsive
        </p>
        <h3 class="project__title">Recipe Blog</h3>
        <p class="project__desc">
          In this project, I work with HTML and CSS to create a responsive page . The design is from devchallenge.io. Donec aliquam est dui, vel vestibulum diam sollicitudin id. Quisque feugiat malesuada molestie.
        </p>
        <div class="project__links">
          <a href="#" class="project__btn">Demo</a>
          <a href="#" class="project__btn">Code</a>
        </div>
      </div>
      <figure class="project__photo">
        <img class="project__img" src="../../img/recipe.png" alt="Recipe Blog">
      </figure>
    </div>
  </div>
</body>
</html>
